[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.4"
matplotlib = "==3.3.3"
scikit-learn = "==0.23.2"
pandas = "==1.1.4"
jupyter = "==1.0.0"

[dev-packages]
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-bugbear = "~=21.4.3"
flake8-import-order = "~=0.18.1"
pre-commit = "~=2.12.0"
autopep8 = "~=1.5.6"
kaggle = "~=1.5.10"
joblib = "~=0.17.0"
ipython = "==7.22.0"

[scripts]
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
